.App {
  text-align: center;
  display: flex;
  // flex-flow: row nowrap;
  align-items: center;
  height: 100vh;
  padding: 0 10rem;
  justify-content: center;
  .wrapper{
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .content{
    // display: flex;
    display: grid;
    grid-template-columns: 1fr 3fr 1.5fr;
    flex-flow: row nowrap;
    align-items: center; 
    justify-content: center; 
    width: 100%;
    flex: 0 0 auto;
    max-height: 80vh;
  }
  h1{
    font-weight: 400;
  }
  p{
    padding: 0;
    margin: 0;
    font-size: 1.3vmin;
  }
}
.logo{
  flex: 0.3 0;
  min-width: 10rem;
}
.feed{
  flex: 1 0;
  min-width: 20rem;
  align-self: stretch;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  .MuiSkeleton-text{
    transform: scale(1, 0.9) !important
  }
  video{
    height: auto !important;
    width: 90%;
  }
}
.alerts{
  display: flex;
  flex-direction: column;
  flex: 0.4;
  border-radius: 10px;
  background-color: rgba(100, 100, 100, 0.041);
  position: relative;
  overflow: hidden;
  
  h1{
    margin: 1rem 0;
  }
  .message__box{
    background-color: rgb(253, 253, 253);
    margin: 1rem 2rem;
    padding: 5px 1rem;
    border-radius: 5px;
    text-align: left;
  }
  .alert__box{
    display: flex;
    flex-flow: column nowrap;
  }
  .messages{
    flex: 0 0 auto;
    max-height: 20rem;
    height: 20rem;
    overflow-y: auto;
  }
}